
__pycache__/inGameChecks.cpython-39.pyc
Config/game.cfg
Config/input.ini
Config/ItemSets.json
Config/LCUAccountPreferences.yaml
Config/LCULocalPreferences.yaml
Config/LeagueClientSettings.yaml
Config/PerksPreferences.yaml
Config/PersistedSettings.json
Config/workingConf.rar
